BOT_TOKEN=TU_BOT_TOKEN_AQUI
CLAVE_SECRETA=MI_CLAVE_SECRETA_123
CANAL_EVENTOS_ID=ID_DEL_CANAL_EVENTOS
CANAL_BIENVENIDA_ID=ID_DEL_CANAL_BIENVENIDA
CANAL_PEDIDOS_ID=1422442183121829919
CANAL_GAMBLING_ID=1494103294916690011
MIEMBROS_A_NOTIFICAR=ID1,ID2
ROL_ADMIN=Admin
